
.navbar {
    height: 55px;
    box-shadow: 0 3px 6;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        font-size: 1.2em;
        font-weight: bold;
        color: var(--primary-color);
        text-shadow: 0 1px 3px var(--shadow-color);
        span{
            color:var(--text-color);
        }
    }
    .nav-links{
        a {
            margin-left: 1em;
            color: var(--text-color);
            letter-spacing: 1px;
            text-transform: uppercase;
            position: relative;
            &::before{
                content: "";
                display: inline-block;
                height: 3px;
                width: 100%;
                background-color: var(--primary-color);
                position: absolute;
                bottom: -5px;
                left: 0;
                transform: scaleX(0);
            }
            &:hover {
                &::before{
                    transform: scaleX(1);
                    transition: transform getAnimationDuration(0.2) ease-in-out;
                }
            }
            &.active{
                color: var(--primary-color);
                font-weight: bold;
            }
        }
    }
    .sidebar-btn {
        height: 25px;
        width: 35px;
        background-color: var(--background-color);
        position: relative;
        .bar {
            border-radius: 5px;
            height: 6px;
            width: 100%;
            background-color: var(--text-color);
            margin: 5px 0;
            position: absolute;
            transition: transform getAnimationDuration(0.2s) ease-in-out;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(3){
                top: 100%;
                transform: translateY(-100%);
            }
        }
        &.active {
            .bar {
                &:nth-child(1){
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--background-color);
    box-shadow: 0 0 0 1000px --shadow-color, 
                3px 0 5px var(--shadow-color);
    transition: all getAnimationDuration(0.5s) ease-in-out;
    animation: getAnimationDuration(0.5s) slideInLeft;
    .sidebar-link {
        display: flex;
        padding: .5em 1em;
        border-left: .5em solid transparent;
        margin-bottom: 1em;
        color: var(--text-color);
        font-size: 1.1em;
        &.active {
            border-left-color: var(--primary-color);
        }
        &:hover {
            border-left-color: var(--primary-color);
            background-color: var(--shadow-color);
        }
    
    }
    svg {
        width: 1.2em;
        margin-right: .5em;
    }
    &.off {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        .nav-links {
            display: none;
        }
        .sidebar-btn {
            display: block;
        }
    }
}