@import "partials/animations";
@import "partials/navbar";

:root {
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color:rgba(0,0,0,0.2);
    --primary-color: rgb(204, 43, 43);
    --text-color: #000;
    --text-light: grey;
    --font-size: 16px;
    --animation-speed: 1;
}

@function getAnimationDuration($duration) {
    @return calc($duration * var(--animation-speed));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


.container {
    padding-inline: 10vw;
    font-family: 'Roboto', sans-serif;
}

