<!DOCTYPE html>
<html>
    <head>
        <title>Schulich Ping-Pong</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    </head>
    <body>
        <div class="container">
            <h1> Add new team members </h1>
            <form action="/add_member" method="POST">
                <input class="formInput" type = "text" name = "player_id" placeholder = "Player ID" required>
                <input class="buttonsmall" type="submit" value="Add">
            </form>
            <div class="msg">
                {{ADD_MEMBER_MSG}}
            </div>
            <h1> Remove team members </h1>
            <form action="/remove_member" method="POST">
                <input class="formInput" type = "text" name = "player_id" placeholder = "Player ID" required>
                <input class="buttonsmall" type="submit" value="Remove">
            </form>
            <div class="msg">
                {{REMOVE_MEMBER_MSG}}
            </div>
        </div>
    </body>
</html> 