<!DOCTYPE html>
<html>
    <head>
        <title>Schulich Ping-Pong</title>
    </head>
    <body>
        <h1> Add new team members </h1>
        <form action="/add_member" method="POST">
            <input type = "text" name = "player_id" placeholder = "Player ID">
            <input type="submit" value="Add">
        </form>
        <h1>{{ADD_MEMBER_MSG}}</h1>
        <h1> Remove team members </h1>
        <form action="/remove_member" method="POST">
            <input type = "text" name = "player_id" placeholder = "Player ID">
            <input type="submit" value="Remove">
        </form>
        <h1>{{REMOVE_MEMBER_MSG}}</h1>
        <h1>----------------------------------------------------------------------------------</h1>
    </body>
</html> 