<!DOCTYPE html>
<html>
    <head>
        <title>Schulich Ping-Pong</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    </head>
    <body>
        <div class="container">
            <h1> Schulich Ping-Pong </h1>
            <h3> You can rent for a maximum of 4 hours</h3>
            <form class="form" action="/newRental" method="POST">
                <select class="formInput" name="numberOfPaddles">
                    <option value="1Paddle">1 Paddle and 1 ball</option>
                    <option value="2Paddle">2 Paddle and 1 ball</option>
                    <option value="3Paddle">3 Paddle and 1 ball</option>
                    <option value="4Paddle">4 Paddle and 1 ball</option>
                </select>
                <select class="formInput" name="rentTime">
                    <option value="1hour">1 hour</option>
                    <option value="2hour">2 hour</option>
                    <option value="3hour">3 hour</option>
                    <option value="4hour">4 hour</option>
                </select>
                <select class="formInput" name="BName">
                    <option value="The_Crazy_Building">The Crazy Building</option>
                    <option value="The_Amazing_Building">The Amazing Building</option>
                    <option value="The_Engineering_Building">The Engineering Building</option>
                </select>
                <input class="buttonsmall" type="submit" value="Rent out">
            </form>
            <div class="msg">
                {{rentalMsg}}
            </div>
        </div>
    </body>
</html> 

 <!--
<input type="text" name="" placeholder="">
<input type="text" name="" placeholder="">
<input type="submit" value="">
 -->