<!DOCTYPE html>
<html>
    <head>
        <title>Schulich Ping-Pong</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    </head>
    <body>
        <h1> Schulich Ping-Pong </h1>
        <h1>{{userUCID}}</h1>
        <h1>{{statDistinguisher}}</h1>
        <h1>{{matchesWon}}</h1>
        <h1>{{hoursPlayed}}</h1>
        <h1>{{matchesPlayed}}</h1>
        <h1>----------------------------------------------------------------------------------</h1>
    </body>
</html> 