<!DOCTYPE html>
<html>
    <head>
        <title>Schulich Ping-Pong</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    </head>
    <body>
        <div class="container">
            <h1> Schulich Ping-Pong </h1>
            <h1> Team Submission</h1>
            <form action="/SUBMIT_TEAMS" method="POST">
                <input class="formInput" type = "text" name = "team_name" placeholder = "Team Name" required>
                <input class="formInput" type = "text" name = "team_type" placeholder = "Team Type" required>
                <input class="buttonsmall" type = "submit" value="Submit">
            </form>
            <div class="msg">
                {{NEW_TEAM_MSG}}
            </div>
            <h1> Team Deletion</h1>
            <form action="/Delete_Teams" method="POST">
                <input class="formInput" type="text" name="team_id" placeholder = "ID" required>
                <input class="buttonsmall" type="submit" value="Delete">
            </form>
            <div class="msg">
                {{DEL_TEAM_MSG}}
            </div>
            <br>
            <h1>Edit Team</h1>
            <form action="/editTeams" method="POST">
                <input class="buttonsmall" type="submit" value="Edit Teams">
            </form>
            <br>
            <h1>Check leaderboards you are in</h1>
            <form action="/leaderBoards" method="POST">
                <input class="buttonsmall" type="submit" value="Leaderboards">
            </form>
            <div class="msg">
                {{msg}}
            </div>
        </div>
    </body>
</html> 