<!DOCTYPE html>
<html>
    <head>
        <title>Schulich Ping-Pong</title>
    </head>
    <body>
        <h1> Schulich Ping-Pong </h1>
        <h1>{{team_id, team_name, team_type}}</h1>
        <form action="/stats" method="POST">
            <input type="submit" value="See Stats">
        </form>
        <form action="/SUBMIT_TEAMS" method="POST">
            
            <input type = "text" name = "team_name" placeholder = "teamName">
            <input type = "text" name = "team_type" placeholder = "teamType">
            <input type = "text" name = "team_id" placeholder = "id">
            <input type="submit" value="Teams">
        </form>
        <form action="/rent" method="POST">
            <input type="submit" value="Rent">
        </form>
        <h1>----------------------------------------------------------------------------------</h1>
    </body>
</html> 